body {
	background-color: #222;
}

i.fa {
	font-family: FontAwesome;
	color: #DDD;
	font-size: 200%;
}

h1 {
	color: #DDD;
	font-family: Play;
	text-align: center;
	font-size: 200%;
}

.container {
	height: 200px;
	width: 200px;
	margin: auto;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

.links {
	margin: auto;
	width: 200px;
	text-align: center;
}

a {
	margin: 10px;
	text-decoration: none;
}

i:hover {
	color: white;
}